.overlay {
  background-color: rgba(0, 0, 0, 0.6);
}
.cnt {
  position: absolute;
  background-color: var(--bg-modal);
  color: var(--color-text);
  line-height: 1.4;
  opacity: 0.6;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 4px 4px,
    rgba(0, 0, 0, 0.24) 0px 16px 32px;
}
.afterOpen {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
