.iconWrapper {
  --sz: 40px;

  width: var(--sz);
  height: var(--sz);
  display: flex;
  justify-content: center;
  align-items: center;

  outline: none;
  padding: 5px;
  color: var(--color-text);
  border-radius: 100%;
  border: 1px solid transparent;
}
.iconWrapper:hover {
  opacity: 0.6;
}
.iconWrapper:focus {
  border-color: var(--color-focus-blue);
}

.themeSwitchContainer {
  appearance: none;
  user-select: none;
  background: none;
  cursor: pointer;
}
