.animate {
  --saturation: 70%;
  stroke: hsl(46deg var(--saturation) 45%);
  transform: scale(1);
  animation: zap-pulse 0.7s 0s ease-in-out none normal infinite;
}

// prettier-ignore
@keyframes zap-pulse {
  0% { stroke: hsl(46deg var(--saturation) 45%); transform: scale(1); }
  50% { stroke: hsl(46deg var(--saturation) 95%); transform: scale(1.1); }
  100% { stroke: hsl(46deg var(--saturation) 45%); transform: scale(1); }
}
