.root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  padding: 15px;
  background: var(--color-background);
  color: var(--color-text);
  text-align: center;
}

.yacd {
  color: #20497e;
  opacity: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
}
