.list {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 280px));
  grid-gap: 10px;
}

.listSummaryView {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 13px);
  grid-gap: 10px;
}
