.list {
  margin: 8px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  margin-left: -3px;
  @media screen and (max-width: 23em) {
    grid-template-columns: 1fr;
  }
  @media screen and (min-width: 23em) and (max-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }
}

.listSummaryView {
  margin: 14px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 13px);
  grid-gap: 10px;
  place-items: center;
  max-width: 900px;
}
