.topBar {
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
  background-color: var(--color-background2);
  backdrop-filter: blur(36px);
}

.topBarRight {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  justify-content: flex-end;

  margin-right: 20px;
}

.textFilterContainer {
  max-width: 350px;
  min-width: 150px;
  flex: 1;
  margin-right: 8px;
}

.group {
  padding: 10px 15px;
  @media screen and (min-width: 30em) {
    padding: 10px 40px;
  }
}
