.ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.8;

  --width-max-content: 230px;
}

.li {
  position: relative;
  margin: 5px 0;
  padding: 10px 0;
  border-radius: 10px;
  display: grid;
  place-content: center;
  grid-template-columns: 40px 1fr;
  column-gap: 10px;
  border: 1px solid var(--bg-near-transparent);

  &.isSelected {
    border-color: #387cec;
  }

  .right {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 40px;
    grid-auto-rows: 30px;
  }
}

.li:hover {
  background-color: var(--bg-near-transparent);
}

.close {
  opacity: 0;
  place-self: center;
  cursor: pointer;
}

.li:hover .close,
.li:hover .eye {
  opacity: 1;
}
.close:focus,
.eye:focus {
  opacity: 1;
}

.eye {
  opacity: 0;
  place-self: center;
  cursor: pointer;
}

.url,
.secret,
.metaLabel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  outline: none;
  appearance: none;
  border: 1px solid transparent;
  background-color: transparent;
  color: inherit;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 100px;
}
.btn:focus {
  border-color: var(--color-focus-blue);
}
.btn:hover:enabled {
  background-color: var(--color-focus-blue);
  color: white;
}
.btn:active:enabled {
  transform: scale(0.97);
}
.btn:disabled {
  color: var(--color-text-secondary);
}

.url,
.metaLabel {
  cursor: pointer;
  &:hover {
    color: var(--color-text-highlight);
  }
}
