.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  .icon {
    --stroke: var(--color-text-secondary);

    color: #20497e;
    opacity: 0.4;
    transition: opacity 400ms;
    &:hover {
      opacity: 1;
    }
  }
}

.body {
  padding: 15px 0 0;
}

.hostnamePort {
  display: flex;

  div {
    flex: 1 1 auto;
  }

  div:nth-child(2) {
    flex-grow: 0;
    flex-basis: 120px;
    margin-left: 10px;
  }
}

.error {
  height: 20px;
  font-size: 0.8em;
  color: #ff8b8b;
  margin-bottom: 5px;
}

.footer {
  padding: 5px 0 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
