.root {
  &:focus {
    outline: none;
  }
}

.header {
  padding: 10px 0 20px;
  text-align: center;
}

.label {
  padding: 12px 0;
}

.inputs {
  display: flex;
  align-items: center;
  input:nth-child(2) {
    width: 120px;
    margin-left: 10px;
  }
}

.footer {
  padding: 20px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
