.content {
  background: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  transform: none;
  padding: 0;
  border-radius: 0;

  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  top: 10%;
  margin-left: 20px;
  margin-right: 20px;
}

.overlay {
  background: #222;
}
