.btn {
  -webkit-appearance: none;
  outline: none;
  color: var(--color-btn-fg);
  background: var(--color-btn-bg);
  border: 1px solid #555;
  border-radius: 100px;
  user-select: none;
  &:focus {
    border-color: var(--color-focus-blue);
  }
  &:hover {
    background: #387cec;
    border: 1px solid #387cec;
    color: #fff;
  }
  &:active {
    transform: scale(0.97);
  }

  font-size: 0.85em;
  padding: 5px 8px;
  @media (--breakpoint-not-small) {
    font-size: 1em;
    padding: 6px 12px;
  }
}

.withIconWrapper {
  display: flex;
  align-items: center;
  .txt {
    margin-left: 5px;
  }
}
