.btn {
  -webkit-appearance: none;
  outline: none;
  color: var(--color-btn-fg);
  background: var(--color-btn-bg);
  border: 1px solid #555;
  border-radius: 100px;
  padding: 6px 12px;
  user-select: none;
  &:hover {
    background: #387cec;
    border: 1px solid #387cec;
    color: #fff;
    // background: darken(#555, 3%);
  }
  &:active {
    transform: scale(0.97);
  }
}
