.root {
  > div {
    min-width: 345px;
    @media (--breakpoint-not-small) {
      width: 360px;
    }
  }
}

.root,
.section {
  padding: 6px 15px 15px;
  @media (--breakpoint-not-small) {
    padding: 10px 40px 40px;
  }
}

.sep {
  padding: 0 15px;
  @media (--breakpoint-not-small) {
    padding: 0 40px;
  }
  > div {
    border-top: 1px dashed #373737;
  }
}

.label {
  padding: 16px 0;
}
