.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  margin: 0 0 10px;
  padding: 0 30px;
}

.react-tabs__tab {
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 5px;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 1.2em;
  opacity: 0.5;
}

.react-tabs__tab--selected {
  opacity: 1;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
