.placeHolder {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-background);
  opacity: 0.1;
}

.connQty {
  font-family: var(--font-normal);
  font-size: 0.75em;
  margin-left: 3px;
  padding: 2px 7px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-near-transparent);
  border-radius: 30px;
}

.inputWrapper {
  margin: 0 30px;
  width: 100%;
  max-width: 350px;
  justify-self: flex-end;
}

.input {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--color-input-bg);
  background-image: none;
  border-radius: 18px;
  border: 1px solid var(--color-input-border);
  box-sizing: border-box;
  color: #c1c1c1;
  display: inline-block;
  font-size: inherit;
  height: 36px;
  outline: none;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
