.tr {
  display: grid;
  /* grid-template-columns: repeat(11, minmax(max-content, 1fr)); */
  grid-template-columns: repeat(11, minmax(max-content, auto));
}

.th {
  padding: 8px 10px;
  height: 50px;
  background: var(--color-background);
  position: sticky;
  top: 0;
  font-size: 0.8em;
  text-align: center;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    color: var(--color-text-highlight);
  }
}

.td {
  padding: 8px 13px;
  font-size: 0.9em;

  font-family: var(--font-normal);
}

.td.odd {
  background: var(--color-row-odd);
}

/* download upload td cells */
.du {
  text-align: right;
}

.sortIconContainer {
  display: inline-flex;
  margin-left: 10px;
  width: 16px;
  height: 16px;
}

.rotate180 {
  transform: rotate(180deg);
}
