$colorf: #eee;
$heightHeader: 76px;

.logMeta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.9em;
  padding: 10px;
}

.logType {
  color: $colorf;
  flex-shrink: 0;
  text-align: center;
  width: 66px;
  background: green;
  border-radius: 5px;
  padding: 3px 5px;
  margin: 0 8px;
}

.logTime {
  flex-shrink: 0;
  color: #999;
  font-size: 14px;
}

.logText {
  flex-shrink: 0;
  display: flex;
  font-family: 'Roboto Mono', Menlo, monospace;
  align-items: center;
  padding: 8px 0;
  // force wrap
  width: 100%;
}

//////////

.logUl {
  margin: 0;
  padding: 0;
  list-style: none;
  color: $colorf;

  :global {
    li {
      background: #1f1f1f;
    }
    li.even {
      background: #282828;
    }
  }
}

/////////

.logs {
  padding: 10px 40px;
  height: calc(100vh - #{$heightHeader});
  overflow: scroll;
}

.logPlaceholder {
  height: calc(100vh - #{$heightHeader});
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2d2d30;
  opacity: 0.3;

  div:nth-child(2) {
    color: #ddd;
    font-size: 1.4em;
  }
}
