.body {
  padding-bottom: 50px;
}

.group {
  padding: 10px 15px;
  @media (--breakpoint-not-small) {
    padding: 10px 40px;
  }
}

.fabgrp {
  position: fixed;
  z-index: 1;
  right: 20px;
  bottom: 20px;
}
