.proxy {
  position: relative;
  padding: 5px;
  border-radius: 8px;
  @media (--breakpoint-not-small) {
    border-radius: 10px;
    padding: 10px;
  }
  background-color: var(--color-bg-proxy-selected);
  &.now {
    background-color: var(--color-focus-blue);
    color: #ddd;
  }
}

.proxyType {
  font-family: var(--font-mono);
  font-size: 0.6em;
  @media (--breakpoint-not-small) {
    font-size: 1em;
  }
}

.proxyName {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  font-size: 0.85em;
  @media (--breakpoint-not-small) {
    font-size: 1.1em;
  }
}

.proxyLatencyWrap {
  height: 30px;
  display: flex;
  align-items: flex-end;
}
