.topBar {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--color-background);
  display: flex;
  justify-content: flex-end;
  padding: 5px 5px 2px 0;
}

.group {
  padding: 10px 15px;
  @media (--breakpoint-not-small) {
    padding: 10px 40px;
  }
}

.spining {
  position: relative;
  border-radius: 50%;
  background: linear-gradient(60deg, #e66465, #9198e5);
}
.spining:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid transparent;
  border-top-color: currentColor;
  border-radius: 50%;
  animation: spining_keyframes 1s linear infinite;
}

@keyframes spining_keyframes {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
