.topBar {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--color-background);
  display: flex;
  justify-content: flex-end;
  padding: 5px 5px 2px 0;
}

.group {
  padding: 10px 15px;
  @media (--breakpoint-not-small) {
    padding: 10px 40px;
  }
}
