.proxy {
  display: flex;
  cursor: pointer;

  svg {
    transition: transform 0.4s ease, color 0.4s ease;
  }
  &:hover {
    svg {
      transform: scale(1.1);
      color: #aaa;
    }
  }
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  padding-left: 20px;
}

.proxyName {
  margin: 10px 0;
}
