.header {
  margin-bottom: 12px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

.proxy {
  margin-right: 5px;
  margin-bottom: 5px;
  @media (--breakpoint-not-small) {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  transition: transform 0.2s ease-in-out;

  &.proxySelectable {
    cursor: pointer;
    &:hover {
      transform: translateY(-2px);
    }
  }
}
