// this font-family only covers latin
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
    url('https://cdn.jsdelivr.net/npm/@hsjs/fonts@0.0.1/robotomono/v5/L0x5DF4xlVMF-BfR8bXMIjhLq3-cXbKD.woff2')
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.border-left,
.border-top,
.border-bottom {
  position: relative;
}

%border {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  transform: scaleY(0.5) translateZ(0);
  left: 0;
  right: 0;
  background: #555;
}

%border1 {
  position: absolute;
  content: '';
  height: 100%;
  width: 1px;
  transform: scaleX(0.5) translateZ(0);
  top: 0;
  bottom: 0;
  background: #555;
}

.border-top::before {
  @extend %border;
  top: 0;
}

.border-bottom::after {
  @extend %border;
  bottom: 0;
}

.border-left::before {
  @extend %border1;
  left: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  margin: 0;
  padding: 0;
}
