.root {
  background: var(--color-bg-sidebar);
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0 15px;
  color: #2a477a;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #1f52ac;
  }

  img {
    width: 80px;
    height: 80px;
  }
}

// a router linke
.rowActive,
.row {
  color: var(--color-text);
  text-decoration: none;

  display: flex;
  align-items: center;
  padding: 8px 20px;

  // &:hover {
  //   color: white;
  //   background: #494b4e;
  // }

  svg {
    color: var(--color-icon);
  }
}

.rowActive {
  background: var(--color-sb-active-row-bg);
}

.label {
  padding-left: 14px;
}

.themeSwitchContainer {
  $sz: 50px;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: $sz;
  height: $sz;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    display: block;
    color: var(--color-icon);
  }
}
