.TrafficNow {
  color: var(--color-text);
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  grid-gap: 10px;

  .sec {
    padding: 10px;
    background-color: var(--color-bg-card);
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    div:nth-child(1) {
      color: var(--color-text-secondary);
      font-size: 0.7em;
    }
    div:nth-child(2) {
      padding: 10px 0 0;
      font-size: 1.8em;
    }
  }
}
