.RuleProviderItem {
  display: grid;
  grid-template-columns: 40px 1fr 46px;
  height: 100%;
}

.left {
  display: inline-flex;
  align-items: center;
  color: var(--color-text-secondary);
  opacity: 0.4;
}

.middle {
  display: grid;
  gap: 6px;
  grid-template-rows: 1fr auto auto;
  align-items: center;
}

.gray {
  color: #777;
}

.action {
  display: grid;
  gap: 4px;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.refreshBtn {
  padding: 5px;
}
