.RuleProviderItem {
  display: grid;
  grid-template-columns: 40px 1fr 46px;
  height: 100%;
}

.left {
  display: inline-flex;
  align-items: center;
  color: var(--color-text-secondary);
  opacity: 0.4;
}

.middle {
  display: grid;
  grid-template-rows: 1fr auto auto;
  align-items: center;
}

.gray {
  color: #777;
}

.refreshButtonWrapper {
  display: grid;
  place-items: center;
  opacity: 0;
  transition: opacity 0.2s;
}

.RuleProviderItem:hover .refreshButtonWrapper {
  opacity: 1;
}
